numpy
pandas
opencv-python
torch
scikit-learn
hydra-core
sqlalchemy
psycopg2-binary
geoalchemy2
ultralytics
cap_from_youtube
imageio-ffmpeg
supervision
fastapi
uvicorn
python-multipart
streamlink
shapely
sse-starlette
alembic
python-jose[cryptography]
passlib[bcrypt]
httpx
